body {
    font-family: Arial;
}

.todo-grid, 
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px; /* the # of columns for our grid specified with pixels*/
    column-gap: 10px; /*sets spacing ebtween the grids columns*/
    row-gap: 10px;  /*sets spacing ebtween the rows*/
    align-items: center; /*to vertically align in the center, by defcault it will stretch and the add button won't stretch*/
}
    .todo-input-grid {

        margin-bottom: 10px;
        /* change align-items back to stretch; */
        align-items: stretch;
    }

    .name-input, .due-date-input {
        font-size: 15px;
        padding: 6px;
    }

    .add-todo-button {
        background-color: green;
        color: white;
        border: none;
        font-size: 15px;
        cursor: pointer;
    }

    .delete-todo-button {
        background-color: darkred;
        color: white;
        border: none;
        font-size: 15px;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;

    }